@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary-color: #111010ea;
  --secondary-color: #df6f06;
  --tertiary--color: #777;
  --alternative-yellow: #F7DF1E;
}

* {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 32px;
  border-bottom: 1px solid var(--tertiary--color);
  text-align: center;
  width: 100%;
}

/* === LINKS === */
.links {
  font-size: 22px;
}

.links a {
  color: var(--tertiary--color);
  text-decoration: none;
  position: relative;
}

.links a + a {
  margin-left: 32px;
}

.links a.active {
  color: var(--secondary-color);
  font-weight: bold;
}

.links a:hover {
  color: var(--secondary-color);
}

.links a::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: var(--secondary-color);
  bottom: -4px;
  left: 0;
  position: absolute;
}

.links a:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out;
}

/* === CARD === */
.card {
  background-color: white;

  min-height: 400px;
  width: 800px;

  margin: 45px auto;

  display: grid;
  grid-template-columns: 40% 60%;

  box-shadow: 1px 1px 6px -2px rgba(255, 255, 255, 0.4);

  animation: up 200ms ease-out;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}

/* === DETAILS === */
.details {
  padding: 32px;
}

.details h3 {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.7px;
  line-height: 24px;
  text-transform: uppercase;
}

.details .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px 0;
}

.details .item:last-child {
  border: none;
}

.details .item div:nth-child(1) {
  color: var(--tertiary--color);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.7px;
  line-height: 24px;
}

.details .item div:nth-child(2) {
  color: #555;
  font-size: 18px;
  font-weight: bold;
}

.details .item span {
  border-radius: 16px;
  margin-right: 4px;
  margin-top: 8px;
  padding: 8px 16px;

  background-color: var(--alternative-yellow);

  color: var(--tertiary--color);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

  display: inline-block;
}

/* === FORM === */
input {
  width: 100%;

  outline: none;

  color: #555;
  font-size: 16px;
  font-weight: bold;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

select {
  background-color: var(--tertiary--color);

  border-radius: 4px;
  padding: 4px 8px;

  color: white;
}

input[type="radio"] {
  width: initial;
  margin-right: 4px;
}

button[type="submit"],
a.button {
  background-color: var(--secondary-color);

  width: 100%;

  border-radius: 4px;
  margin-top: 32px;
  padding: 8px 32px;

  color: white;
  font-size: 16px;
  letter-spacing: 1px;
}

a.button {
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-decoration: none;
}