{% extends "layout.njk" %}

{% block content %}

    <form class="card" method="POST" action="/teachers">
        <section
            class="image"
            style="background: url(https://source.unsplash.com/collection/4852103/500x500) no-repeat center center / cover">
        </section>

        <section class="details">
            
            <h3>Novo Professor</h3>

            <div class="item">
                <div>Avatar URL</div>
                <div>
                    <input
                        type="url"
                        name="avatar_url"
                        placeholder="http://..."
                    >
                </div>
            </div>

            <div class="item">
                <div>Professor</div>
                <div>
                    <input
                        type="text"
                        name="name"
                        placeholder="Nome do professor"
                    >
                </div>
            </div>

            <div class="item">
                <div>Data de nascimento</div>
                <div>
                    <input
                        type="date"
                        name="birth"
                    >
                </div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>
                    <select name="educational_level">
                        <option value="ensino medio" selected>Ensino Médio Completo</option>
                        <option value="ensino superior">Ensino Superior Completo</option>
                        <option value="mestrado">Mestrado</option>
                        <option value="doutorado">Doutorado</option>
                    </select>
                </div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>
                    <span><input type="radio" name="class_type" value="presencial" checked>Presencial</span>
                    <span><input type="radio" name="class_type" value="distancia">À distância</span>
                </div>
            </div>

            <div class="item">
                <div>Área de atuação</div>
                <div>
                    <input
                        type="text"
                        name="occupation_area"
                        placeholder="Separe as áreas de atuação com ',' (vírgula)"
                    >
                </div>
            </div>

            <button type="submit">Salvar</button>

        </section>
    </form>

{% endblock content %}